src/main/mule/saleforce_to_mysql_.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c92adbd0-c9ea-43c7-a422-8566cbae0dd1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="saleforce_to_mysql_Flow" doc:id="cbaa4188-cd50-49d1-8326-103f26f0f906" >
		<http:listener doc:name="Listener" doc:id="cfe0589d-d76c-4413-bb56-42b509e8592a" config-ref="HTTP_Listener_config" path="/path"/>
		<set-payload value='#["mule application will be pushed in git repository"]' doc:name="Set Payload" doc:id="82959e22-f8aa-4ac1-ac4e-5f4da0dfe635" />
	</flow>
</mule>
